{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block nav %}
    {% include 'home/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div id="anime-title" class="pb-5 pt-5">
        NUSAvolunteer
        <div id="title-animation-container">
            <div class="text-wrapper">
                <p class="title-animation m-0">Aider</p>
                <p class="title-animation m-0">Volontaire</p>
                <p class="title-animation m-0">S'engager</p>
                <p class="title-animation m-0">benevole</p>
            </div>
        </div>
    </div>
    <div id="users-container" class="container">
        <div class="d-flex justify-content-around align-items-center h-100">
            <a href="{{ path('app_login', {"userCategory": "volunteer"}) }}"><button id="home-volunteer-button" class="home-user-button">Volunteer</button></a>
            <a href="{{ path('app_login', {"userCategory": "organisation"}) }}"><button id="home-organisation-button" class="home-user-button">Organisation</button></a>
        </div>
    </div>

    <h2>Qu'est-ce que c'est ?</h2>
    <div class= "presentation-paragraph orel-5"></div>
    <div class="presentation-paragraph orel-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum impedit ipsum officiis. Atque aut autem
        dolor eius eligendi enim, eum ex itaque laudantium magnam, quam reprehenderit suscipit, tenetur voluptates?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum impedit ipsum officiis. Atque aut autem
        dolor eius eligendi enim, eum ex itaque laudantium magnam, quam reprehenderit suscipit, tenetur voluptates?
    </div>
    <div class="presentation-paragraph orel-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum impedit ipsum officiis. Atque aut autem
        dolor eius eligendi enim, eum ex itaque laudantium magnam, quam reprehenderit suscipit, tenetur voluptates?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum impedit ipsum officiis. Atque aut autem
        dolor eius eligendi enim, eum ex itaque laudantium magnam, quam reprehenderit suscipit, tenetur voluptates?
    </div>
{% endblock %}
