<turbo-stream action="append" target="discussion">
    <template>
        <div class="d-flex justify-content-end mt-3 mb-4">
            <div class="card w-75">
                <div class="card-header p-3 main-organisation-lighter-bg">
                    <p class="fw-bold text-end mb-0">{{ user.FullName }}</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                        {{ message.content }}
                    </p>
                </div>
            </div>
        </div>
    </template>
</turbo-stream>



