#index-body {
    font-family: "Happy Lucky", sans-serif;
    background-color: $main-color-yellow;
    height: 100%;
    width: 100%;
}

#anime-title {
    font-family: "Happy Lucky", sans-serif;
    visibility: hidden;
    font-size: 3rem;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    transition: visibility 2s ease-in-out;
}

.title-animation{
    visibility: visible;
    font-size: 3rem;
    text-align: center;
    color: $main-color-green;
    margin: 0;
    line-height: 0;
    letter-spacing: 5px;
}

#users-container {
    font-family: "Happy Lucky", sans-serif;
    height: 50vh;
}

.home-user-button {
    padding: 2rem 4rem;
    border: 0.3rem solid black;
    border-radius: 30px;
    font-size: xx-large;
}

#home-organisation-button {
color: $main-color-blue;
border-color: $main-color-green;
outline: none;
outline-color: $main-color-green;
transition: all 200ms ease-in-out;
    &:hover {
        outline-color: $main-color-blue;
        outline: solid 3px;
        outline-offset: 3px;
        transform: scale(1.1);
        color: white;
        background-color: $main-color-blue;
    }
}

#home-volunteer-button {
    color: $main-color-green;
    border-color: $main-color-blue;
    outline: none;
    outline-color: $main-color-blue;
    transition: all 200ms ease-in-out;
    &:hover {
        outline-color: $main-color-green;
        outline: solid 3px;
        outline-offset: 3px;
        transform: scale(1.1);
        color: white;
        background-color: $main-color-green;
    }
}

.presentation-paragraph {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
