.volunteer-login {
    background-color: $main-color-green;
    color: white;
}

.organisation-login {
    background-color: $main-color-blue;
    color: white;
}   

.login-button {
    transition: all 200ms ease-in-out;
    &:hover {
        background-color: $main-color-yellow;
    }
    &:focus {
        background-color: $main-color-yellow;
    }
}  

.main-form-container {
    width: 50%;
    margin-bottom: 15rem;
}