@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: "Happy Lucky";
    src: url(HappyLucky-gxnZP.ttf) format("truetype");
}

.font-happy {
    font-family: "Happy Lucky", sans-serif;
}

$main-color-green: #08946D;
$main-color-blue: #0A6883;
$main-color-yellow: #F5C677;
$main-color-yellow-light: #f5c67780;
$main-color-red: #FF6B6B;

body {
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav-buttons {
    transition: all 200ms ease-in-out;
    font-size: 1.5rem;
    &:hover {
        transform: scale(1.05);
    }
}

.validation-button {
    padding: 0.5rem 1rem;
    border: 0.15rem solid $main-color-blue;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: $main-color-green;
    color: white;
    transition: background-color 200ms ease-in;
    &:hover {
        background-color: white;
        color: $main-color-green;
    }
}



