@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: "Happy Lucky";
    src: url(HappyLucky-gxnZP.ttf) format("truetype");
}

.font-happy {
    font-family: "Happy Lucky", sans-serif;
}

$main-color-green: #08946D;
$main-color-green-light: #55B59E;
$main-color-blue: #0A6883;
$main-color-yellow: #F5C677;
$main-color-yellow-light: #f5c67780;
$main-color-red: #FF6B6B;
$main-color-grey-light: #dbdbdb61;

$nav-height: 65px;

html, body {
    font-family: Rubik, sans-serif;
}

nav {
    height: $nav-height;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: black;
}

.main-organisation-bg {
    background-color: $main-color-blue;
}

.main-volunteer-bg {
    background-color: $main-color-green;
}

.main-volunteer-button {
    background-color: $main-color-green;
    color: white;
}

.main-organisation-button {
    background-color: $main-color-blue;
    color: white;
}

.main-button {
    transition: all 200ms ease-in-out;
    &:hover {
        background-color: $main-color-yellow;
    }
    &:focus {
        background-color: $main-color-yellow;
    }
}

.nav-buttons {
    transition: all 200ms ease-in-out;
    font-size: 1.1rem;
    &:hover {
        transform: scale(1.05);
        font-weight: 450;
    }
}

.validation-button {
    padding: 0.5rem 1rem;
    border: 0.15rem solid $main-color-blue;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: $main-color-green;
    color: white;
    transition: background-color 200ms ease-in;
    &:hover {
        background-color: white;
        color: $main-color-green;
    }
}

.main-btn {
    color: black;
    border-color: $main-color-yellow;
    &:hover {
        color:#fff;
        background-color: $main-color-yellow;
        border-color: $main-color-yellow;
    }
    &:focus {
        box-shadow: $main-color-yellow-light;
    }
    &:active {
        color: #fff;
        background-color: $main-color-yellow;
        border-color: $main-color-yellow;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    &:disabled {
        color: $main-color-yellow;
        background-color: transparent;
        border-color: $main-color-yellow;
    }
}

.green-light-bg {
    background-color: $main-color-green-light;
}

#edit-information-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100vh;
}

#edit-information-container > section {
    scroll-snap-align: start;
}

.edit-information-title-section {
    height: calc(100vh - $nav-height) !important;
    position: relative;
}

.bg-inherit {
    background-color: inherit;
}

.text-justify {
    text-align: justify;
}

#scroll-down-mouse {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: go-down 1.3s infinite ease-in-out;
}

@keyframes go-down {
    0%   {bottom: 0px;}
    50%  {bottom: 50px;}
    100% {bottom: 0px;}
  }

