#organisation-nav {
    background-color: $main-color-blue;
    height: 65px;
}


.volunteer-card {
    cursor: pointer;
    border: solid 2px $main-color-grey-light;
    transition: all 300ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        border-color: $main-color-green;
    }
}

.volunteer-modal-title {
    border-bottom: solid $main-color-green;
}

.match-star {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
