.home-images-container {
    margin-top: 9rem;
}

.home-avatar-picture {
    position: absolute;
    top: -75px;
    border: solid black 1px;
    width: 150px;
    height: 150px;
}

.user-background-picture {
    height: 40vh;
    width: 80vw;
}
