<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://i.pinimg.com/originals/00/69/f2/0069f22d7b9572c61e8be3d92d4f4243.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="ms-4 me-4">
        {% block body %}{% endblock %}
    </body>
</html>
