<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/svg+xml"  href="{{ asset("build/images/website/NUSAvolunteer_logo_final.svg") }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {% if bodyColor is defined and bodyColor is not null %}
    <body class="{{ bodyColor }}">
    {% endif %}
    {% block nav %}{% endblock %}
    {% block body %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
    </body>
</html>
