{% extends 'base.html.twig' %}

{% block title %}Organisation home page{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}

{% block body %}
<div id="edit-information-container">
    <section class="edit-information-title-section vh-100 d-flex justify-content-center align-items-center">
        <h1 class="text-center fw-bold pb-5 pt-5">My informations</h1>
        <div id="scroll-down-mouse">
            Let's start!
            <div>
                <img  src="{{ asset('build/images/website/mouse.png') }}" alt="mouse" width="50" height="auto">
            </div>
        </div>
    </section>
    <section class="vh-100 d-flex justify-content-center align-items-center bg-primary">
        <h2 class="text-center fw-bold pb-5 pt-5 text-white bg-black">Name</h2>
    </section>  
    <section class="vh-100 d-flex justify-content-center align-items-center bg-dark">
        <h2 class="text-center fw-bold pb-5 pt-5 text-white bg-black">Name</h2>
    </section>
</div>
{% endblock %}
