{% extends 'base.html.twig' %}

{% block title %}Organisation matches{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>My matches</h1>
{% endblock %}
